$s2: .125rem; //2px
$s4: .25rem; //4px
$s6: .375rem; //4px
$s8: .5rem; //8px
$s12: .75rem; //8px
$s16: 1rem; //8px
$s20: 1.25rem; //20px
$s24: 1.5rem; //8px
$s28: 1.75rem; //8px
$s32: 2rem; //8px
$s40: 2.5rem; //8px
$s48: 3rem; //8px
$section_gap: 4.5rem; //72px
$section_gap_sm: 1rem; //72px
$borad_1: .5rem;
$borad_2: 1rem;